extends layout

block content
	h1= title
	h2 Bienvenido a #{title}
	div(class='row')
		div(class='col-sm-6 row')
			div(class='btn btn-group btn-group-justified')
				a(href="/users/login/", class='btn btn-success') Iniciar Sesión
				a(href="/users/signup/" class='btn btn-primary') Registrarse
